* {
  box-sizing:content-box;
  margin:0;
  padding:0;
  }

body {
  background-color:Seashell;
  }

#mapid {
  float:left;
  height:800px;
  width:60%;
  }


#sidebar {
  float:right;
  padding-left:7px;
  border:solid gray;
  border-width:1px;
  background-color:WhiteSmoke;
  height:800px;
  width:39%;
  }

p {
  margin:8px;
  }

#addresses {
  border:2px solid black;
  width:60%;
  background-color:SeaShell;
  padding:.25em;
  margin:2em;
  overflow:hidden;
}

.addressText {
  border:1px solid blue;
  display:inline;
  width:20em;
  padding:.5em;
  margin:.5em;
  }

.listX {
  float: right;
  font-size: 1em;
  margin:.75em;
  width:2em;
  }

.listElement {
  border: 2px solid green;
  margin:.2em;
  padding: .2em .5em;
  }

