* {
  box-sizing:content-box;
  }

body {
  background-color:Seashell;
  }

#mapid {
  float:left;
  height:800px;
  width:60%;
  }

#addresses {
  width:60%;
  border:1px solid gray;
  background-color:SeaShell;
  margin:1em;
}

#sidebar {
  float:right;
  padding-left:7px;
  border:solid gray;
  border-width:1px;
  background-color:WhiteSmoke;
  height:800px;
  width:39%;
  }

p {
  margin:8px;
  }
